<!-- app/views/spotify/index.html.erb -->
<h1>Processed Artist Data</h1>

<ul>
  <li>ID: <%= @processed_data[:id] %></li>
  <li>Name: <%= @processed_data[:name] %></li>
  <li>Popularity: <%= @processed_data[:popularity] %></li>
</ul>
